body {
  margin: 0;
  font-family: Arial;
}

nav {
  background: #003366;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
