* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  min-height:100vh;
  background: #d8eaf3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  text-align: center;
}

.logo {
  width: 260px;   
  margin-bottom: 10px;
}

.hero-section h1 {
  font-size: 64px;
  font-weight: 700;
  color: #123f78;

  margin-bottom: 15px;
}

.landing-card {
  width: 600px;

  background: transparent;

  border: 1px solid #d3d3d3;

  border-radius: 10px;

  padding: 35px;

  text-align: justify;
}

.landing-card h2 {
  text-align: center;

  font-size: 30px;
  font-weight: 700;

  color: #222;

  margin-bottom: 20px;
}




.description {
  color: #959595;
  margin-top: 1px;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;

  margin-top: 25px;
}

.map-btn {
  background: #19a7d8;
  color: white;

  border: none;

  padding: 12px 28px;

  border-radius: 6px;

  font-size: 16px;

  cursor: pointer;
}

.login-btn {
  background: #f4c400;
  color: white;

  border: none;

  padding: 12px 35px;

  border-radius: 6px;

  font-size: 16px;

  cursor: pointer;
}